.main {
  &-recipes {
    display: flex;
    flex-direction: column;
  }
  &-recipe {
    display: flex;
    align-items: baseline;
    background-color: #b3b3b3;
    &__icon {
      align-self: center;
      margin: 0 2rem;
      height: 3rem;
      width: 3rem;
    }
    &-text {
      display: flex;
      flex-direction: column;
      width: 50%;
      * {
        margin: 0;
      }
    }
  }
}
