.main {
  &-recipes {
    display: flex;
    flex-direction: column;
  }
  &-recipe {
    display: flex;
    align-items: baseline;
    &__icon {
      margin: 0 2rem;
      height: 3rem;
      width: 3rem;
    }
    &-text {
      display: flex;
      flex-direction: column;
      width: 70%;
      * {
        margin: 0;
      }
    }
  }
}
