@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
.main {
  &-nutrition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;

    @include tablet {
      width: 33%;
      padding-right: 0;
    }
  }

  &-macronutriments {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &-macronutriment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    position: relative;
    height: 7rem;
    padding: 1rem;
    background-color: #333333;

    &__icon {
      display: flex;
      align-self: flex-end;
      color: skyblue;
      height: 5rem;
      width: 5rem;
    }
    &-text {
      display: flex;
      flex-direction: column;
      * {
        color: white;
        margin: 0;
      }
    }
  }
}
