.main {
  &-exercices {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1rem;

    &-filter {
      display: flex;
      h3 {
        margin: 0 1rem;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
    }
  }
}
