@use "../../../styles/partials/mixins.scss" as *;
.login {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      @include tablet {
        width: 50%;
      }
    }
  }
  &-success {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  &-profile {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__avatar {
      border-radius: 2rem;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1.6rem;
    }
  }
}

.form {
  &-group {
    margin-bottom: 2.5rem;
    width: 100%;
  }
  &-control {
    height: 4rem;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 0.1rem solid lightgray;
    width: 100%;
  }
  &-switch {
    display: flex;
    padding-left: 0;
    span {
      display: flex;
      flex-direction: column;
    }
  }
}
