.main {
  &-dashboard {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    justify-content: space-between;
    width: 30%;

    &-content {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      &:nth-child(2) {
        background-color: #b3b3b3;
      }
    }
  }
  &-upper,
  &-down {
    display: flex;
    justify-content: space-between;
  }
  &-upper {
    &__image {
      width: 50%;
    }
  }

  &-left,
  &-right {
    display: flex;
    flex-direction: column;
  }
}
