@use "./styles/partials/fonts.scss" as *;
@use "./styles/partials/variables.scss" as *;
@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/reset.scss" as *;
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2rem;
  box-shadow: 0rem 0.8rem 1.6rem 0.4rem #9e9e9e;
  margin: 5rem 0;
  background-color: #cccc;
}
